* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  font-family: "Hind";
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Hind";
  src: url("../fonts/Hind-Light.woff2"), url("../fonts/Hind-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("../fonts/Hind-Regular.woff2"), url("../fonts/Hind-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("../fonts/Hind-Medium.woff2"), url("../fonts/Hind-Medium.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("../fonts/Hind-Bold.woff2"), url("../fonts/Hind-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

nav {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.menu__item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #090A0B;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menu__item-link:hover {
  color: #0099FA;
}

.burger {
  display: none;
  cursor: pointer;
}

.dog {
  text-align: center;
}

.dog__bones1 {
  background-image: url(../img/bones1.png);
  height: 59px;
  width: 59px;
  position: absolute;
  top: 185px;
  left: 70px;
}

.dog__doge1 {
  background-image: url(../img/dog1.png);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 350px;
  left: 140px;
}

.dog__bones2 {
  background-image: url(../img/dog2.png);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 106px;
  right: 214px;
}

.dog__doge2 {
  background-image: url(../img/bones2.png);
  height: 59px;
  width: 59px;
  position: absolute;
  top: 350px;
  right: 286px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__dog {
  background-image: url(../img/doge.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
}

.dog__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 56px;
  line-height: 50px;
  text-align: center;
  padding-top: 230px;
}

.dog__btn {
  background-color: #0099FA;
  color: #FFFFFF;
  width: 345px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #0099FA;
  border-radius: 12px;
  margin-top: 140px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.dog__btn:hover {
  background-color: #0089e1;
}

.article__dogs-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  margin-top: 101px;
  margin-bottom: 50px;
}

.article__dogs-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.article__dogs-card {
  scroll-snap-align: center;
  margin-right: 20px;
  max-width: 400px;
  min-width: 295px;
}

.article__dogs-card:last-child {
  margin-right: 0px;
}

.dogs-card__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 29px;
}

.dogs-card__title {
  color: #090A0B;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

.dogs-card__subtitle {
  color: #A9AEB4;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .navbar {
    height: 54px;
  }

  .menu__item {
    margin-left: 0;
  }

  .dog__bones1 {
    display: none;
  }

  .dog__doge1 {
    display: none;
  }

  .dog__bones2 {
    display: none;
  }

  .dog__doge2 {
    display: none;
  }

  .article__dogs-cards {
    overflow: auto;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #FFFFFF;
    left: 0;
    top: 0;
    display: none;
    padding-bottom: 140px;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 54px;
    height: 541px;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
    z-index: 99;
  }

  .burger__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 54px;
    width: 54px;
    background: #20a6fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .burger {
    display: block;
    position: relative;
    height: 18px;
    width: 24px;
    z-index: 100;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: #FFFFFF;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: #FFFFFF;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .menu__item-link {
    color: #090A0B;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .section__dog {
    background-position: center;
  }

  .dog__title {
    font-size: 44px;
    padding-top: 191px;
  }

  .dog__btn {
    margin-top: 85px;
  }

  .article__dogs-title {
    margin-top: 48px;
    margin-bottom: 26px;
  }

  .dogs-card__title {
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .article__dogs-card {
    min-height: 399px;
  }
}